//dimensions
$container: 960px;
$height-footer: 150px;
$main-fonts: 'Roboto', sans-serif;
$height-header: 1020px;


//color
$color-text: #000000;
$color-title: #000000;
$bg-about-left: #ebefe2;
$bg-about-right: #f4f5f0;